.erro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.erro h1{
    font-size: 80px;
}

.erro a{
    text-decoration: none;
    padding: 14px;
    background-color: #116feb;
    color: #FFF;
    margin-top: 10px;
}